@use '../abstracts/mixins';
@use '../abstracts/variables';

.hero {
  display: flex;
  align-items: center;

  @include mixins.background-img-overlay;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
  }

  &__text {
    color: variables.$color-white;
  }

  &--small {
    height: 50vh;
  }

  &--large {
    height: 70vh;
  }

  &--full {
    height: 100vh;
  }

  &__img {
    object-position: 50% 30%;
  }

  &__text {
    text-align: center;

    & > h1,
    & > h3 {
      color: variables.$color-white;
    }
  }
}
