.image-caption {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  font-size: 1rem;

  &__image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  &__data {
    display: flex;
    flex-direction: column;

    & > :first-child {
      font-size: 1.2rem;

      font-weight: 600;
    }
  }

  &__link {
    border-bottom: none !important;
  }
}
