@use "../../abstracts/variables";

.pagination {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;

  &__btn {
    padding: 1rem;
    margin-top: 3rem;
    background-color: variables.$color-grey-light-1;
    border: 2px solid variables.$color-grey-light-3;
    border-radius: 50%;
    box-shadow: variables.$default-box-shadow;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: variables.$default-transition;

    &:hover {
      background-color: variables.$color-white;
    }

    &--visible {
      visibility: visible;
      opacity: 1;
    }
  }

  &__icon {
    fill: variables.$color-grey-dark-2;
  }
}
