@use '../../abstracts/mixins';
@use '../../abstracts/variables';

.profile-card {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.075);
  gap: 1.2rem;
  align-items: center;

  @include mixins.respond(tab-port) {
    flex-direction: column;
  }

  &__img-container {
    flex: 1;

    @include mixins.respond(tab-port) {
      max-width: 200px;
    }

    &__img {
      width: 100%;
      height: auto;
      border-radius: 4px;
      object-fit: cover;
    }
  }

  &__info {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &__email {
      width: fit-content;
    }
  }
}
