@use '../abstracts/mixins';
@use '../abstracts/variables';

// DESCRIPTION SECTION
.description {
  padding: variables.$default-section-padding;

  font-size: 1.4rem;

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: center;
  }
}

// RESIDENTIAL LOTS SECTION
.residential-lots {
  padding: variables.$default-section-padding;
  background-color: variables.$color-grey-light-2;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8;

  &__lots {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    @include mixins.respond(phone) {
      gap: 3.2rem;
    }
  }

  &__lot {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    align-items: center;
    text-align: center;

    @include mixins.respond(phone) {
      grid-template-columns: 1fr;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(variables.$color-grey-dark-3, 0.4);
        padding-bottom: 1.2rem;
      }
    }
  }

  &__lot:nth-child(even) &__info {
    order: 1;

    @include mixins.respond(phone) {
      order: 0;
    }
  }

  &__image-container {
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__badge {
    background-color: variables.$color-secondary;
    color: variables.$color-white;
    padding: 0.4rem 0.8rem;
    border-radius: 10px;
    letter-spacing: 0.5px;

    position: absolute;
    top: 8px;
    left: -16px;
  }
}

// VIDEOS SECTION
.videos {
  padding: variables.$default-section-padding;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3.2rem;
    row-gap: 4.8rem;

    @include mixins.respond(tab-port) {
      grid-template-columns: 1fr;
      padding: 0 12.8rem;
    }

    @include mixins.respond(phone) {
      padding: 0;
    }
  }
}

// MAP SECTION
.map {
  top: variables.$default-spacing-x;
}

//  AGENT SECTION
.agent {
  padding: variables.$default-section-padding;
  background-color: variables.$color-grey-light-2;
  font-size: 1.8rem;
  font-weight: 600;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  &__img {
    max-width: 26rem;
    height: auto;
    border-radius: 2px;
    margin: 1.6rem 0;
  }

  &__contact {
    display: flex;
    gap: 2.4rem;
    margin-bottom: 1.2rem;
  }
}

// DOCUMENTS AND LINKS SECTION
.docs-and-links {
  padding: variables.$default-section-padding;
  font-size: 1.4rem;

  &__docs,
  &__links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12.8rem;
    row-gap: 6.4rem;
    padding: 2.4rem;
    padding-bottom: 4.8rem;
    border-bottom: 2px solid rgba(variables.$color-grey-dark-3, 0.4);

    @include mixins.respond(tab-port) {
      grid-template-columns: 1fr 1fr;
    }

    @include mixins.respond(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__links {
    padding-top: 4.8rem;
    padding-bottom: 0;
    border: none;
  }

  &__doc-link {
    display: flex !important;
    gap: 1.2rem;
    align-items: center;
  }

  &__icon {
    height: 4rem;
    width: 4rem;
  }

  &__link-header {
    text-align: center;
    display: flex;
    gap: 0.8rem;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  &__logo {
    height: 8rem;
    width: fit-content;
  }
}

// CONTACT SECTION
.contact {
  padding: variables.$default-section-padding;
  font-size: 1.4rem;
  background-image: linear-gradient(
      105deg,
      rgba(variables.$color-white, 0.8) 0%,
      rgba(variables.$color-white, 0.4) 40%,
      transparent 50%
    ),
    url(../../public/images/contact.jpg);
  background-size: 100%;

  &__box {
    background-color: variables.$color-grey-light-2;
    max-width: 60rem;
    margin: 0 auto;
    padding: 4.8rem 3.2rem;
    border-radius: 4px;
  }
}

// FLYERS SECTION
.flyers {
  padding: variables.$default-section-padding;
  font-size: 1.4rem;

  &__flyer {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: center;
  }

  &__flyer-img {
    width: 16rem;
    height: auto;
  }
}

// ASSOCIATIONS SECTION
.associations {
  padding: variables.$default-section-padding;
  background-color: variables.$color-grey-light-2;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.respond(tab-port) {
      flex-direction: column;
      gap: 4.8rem;
    }
  }

  &__list {
    display: flex;
    width: 100%;
    justify-content: space-around;

    @include mixins.respond(phone) {
      flex-direction: column;
      align-items: center;
      gap: 3.2rem;
    }
  }

  &__logo {
    height: 9rem;
    width: fit-content;
  }
}
