@use '../abstracts/mixins';
@use '../abstracts/variables';

// DESCRIPTION SECTION
.description {
  padding: 2.4rem 0 variables.$default-spacing-x 0;
  font-size: 1.4rem;

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: center;
  }
}

//  AGENT SECTION
.agent {
  padding: variables.$default-section-padding;
  font-size: 1.8rem;
  font-weight: 600;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }

  &__img {
    max-width: 26rem;
    height: auto;
    border-radius: 2px;
    margin: 1.6rem 0;
  }

  &__contact {
    display: flex;
    gap: 2.4rem;
    margin-bottom: 1.2rem;
  }
}

// CONTACT SECTION
.contact {
  padding: 2.4rem 0 variables.$default-spacing-x 0;
  font-size: 1.4rem;
  background-image: linear-gradient(
      105deg,
      rgba(variables.$color-white, 0.8) 0%,
      rgba(variables.$color-white, 0.4) 40%,
      transparent 50%
    ),
    url(../../public/images/contact.jpg);
  background-size: 100%;

  &__box {
    background-color: variables.$color-grey-light-2;
    max-width: 60rem;
    margin: 0 auto;
    padding: 4.8rem 3.2rem;
    border-radius: 4px;
  }
}

// ASSOCIATIONS SECTION
.associations {
  padding: variables.$default-section-padding;
  background-color: variables.$color-grey-light-2;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.respond(tab-port) {
      flex-direction: column;
      gap: 4.8rem;
    }
  }

  &__list {
    display: flex;
    width: 100%;
    justify-content: space-around;

    @include mixins.respond(phone) {
      flex-direction: column;
      align-items: center;
      gap: 3.2rem;
    }
  }

  &__logo {
    height: 9rem;
    width: fit-content;
  }
}
